/* You can add global styles to this file, and also import other style files */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

h1.main {
  padding-left: 10px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em 10px;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
  padding-left: 0.3em;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:last-child {
  padding-right: 0.3em;
}

.content {
  padding-left: 10px;
}
